.java, .csharp, .ruby, .php {
  display: none;
}

.jumbotron {
  padding: 4px;
  margin: 4px
}
body {
  font-size: 14px;
  background-image: url("../img/freeway1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.form-group {
  text-align: left;
  float: left;
  padding: 12px;
  margin: 35px;
}

.form-control {
  text-align: left;
  width: 720px;
  height: auto;
  float: center;
  padding: 12px;
}

.container {
  background-color: #bccfc7;
  text-align: left;
  float: center;
  border: 3px solid black;
}

.form {
  text-align: center;
  float: center;
  padding: 12px;
  margin: 35px;
}

ul {
  list-style: none;
  text-align: left;
}

button {
  background-color: red;
}
