/* .java, .csharp, .ruby, .php {
  display:
} */

body {
  font-size: 14px;
  background-image: url("../img/freeway1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  background-color: #bccfc7;
  text-align: justify;
  float: center center;
  border: 3px solid black;
  padding: 12px;
  margin: 35px;

}

.form-group {
  text-align: justify;
  float: center center;
  border: 3px solid black;
  padding: 12px;
  margin: 35px;
}

.form-control {
  text-align: center;
}

button {
  background-color: red;
}
